{% extends 'layouts/base.html.twig' %}

{% block title %}
	Change Password
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Change Password</h1>
			
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="d-grid gap-2 mt-3">
				<button class="btn btn-lg btn-primary" type="submit">
					Confirm
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
